@font-face {
    font-family: "Monument Regualar";
    src: local("Monument Regualar"), url("/public/fonts/MonumentExtended-Regular.otf");
}

@font-face {
    font-family: "Monument Bold";
    src: local("Monument Bold"), url("/public/fonts/MonumentExtended-Ultrabold.otf");
}
@font-face {
    font-family: "ClashDisplay Bold";
    src: local("ClashDisplay Bold"), url("/public/fonts/ClashDisplay-Bold.otf");
}
@font-face {
    font-family: "ClashDisplay Regular";
    src: local("ClashDisplay Regular"), url("/public/fonts/ClashDisplay-Regular.otf");
}
@font-face {
    font-family: "ClashDisplay Semibold";
    src: local("ClashDisplay Semibold"), url("/public/fonts/ClashDisplay-Semibold.otf");
}
@font-face {
    font-family: "ClashDisplay Medium";
    src: local("ClashDisplay Medium"), url("/public/fonts/ClashDisplay-Medium.otf");
}

