<section>
    <style>
        .clashDisplay{
            font-family:"Clash Display";
        }
    </style>
    <h1 class="text-darkGray clashDisplay font-medium text-center">© Arslan 2023, All rights reserved.</h1>
</section>