<section>
    <style>
        .monumentRegular{
            font-family: "Monument Regualar";
        }
        .monumentBold{
            font-family: "Monument Bold";
        }
        .clashDisplay{
            font-family:"Clash Display";
        }
    </style>
    <div class="flex flex-col items-center text-white">
        <h1 class="text-pinkishRed clashDisplay text-7xl mt-16 mb-16 font-medium">About <span class="text-white">Me</span></h1>
        <div class="w-1/2 "><h1 class="text-white clashDisplay text-5xl mb-16">I’m 17 and have been in tech for the past <span class="text-pinkishRed">three years</span></h1></div>
        <div class="w-1/2 "><h1 class="text-white clashDisplay text-5xl mb-16">Over the past three years, I have <span class="text-pinkishRed">experienced and explored</span> a diverse set of technologies</h1></div>
        <div class="w-1/2 "><h1 class="text-white clashDisplay text-5xl mb-16">I have the capability to <span class="text-pinkishRed">develop and deliver</span> fully functional web applications.</h1></div>
    </div>
    <div class="border mr-40 ml-40"></div>
</section>