<section class ="flex flex-col items-center" style="background-image: url(/public/lines.svg);" >
    <style>
        .monumentRegular{
            font-family: "Monument Regualar";
        }
        .monumentBold{
            font-family: "Monument Bold";
        }
        .clashDisplay{
            font-family:"ClashDisplay Regular";
        }
        @media (max-width: 640px) {
        .smallAndBelowHeading {
            flex-direction: column;
            margin-top: 10px;
            text-align: center;
        }
        .smallAndBelowImage{
            padding-top: 10px;
        }
        }
    </style>
    <div class="flex flex-row smallAndBelowHeading justify-between items-center w-4/5 lg:w-3/4 xl:w-2/3">
        <div class="flex flex-col mt-10 sm:w-2/3 md:w-2/3 lg:w-2/3">
            <p class="text-white monumentBold text-4xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl">Hello I'm,</p>
            <p class="text-pinkishRed monumentBold text-5xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl">Arslan</p>
            <p class="clashDisplay text-white text-sm mt-5 sm:text-xl md:text-2xl lg:text-2xl xl:text-2xl">I'm a <span class="text-pinkishRed">web developer</span> with a passion for coding, learning and exploring newer technologies</p>
        </div>
        <div class="flex flex-col justify-center pt-20 w-1/2 smallAndBelowImage">
            <div class="flex justify-center">
                <img src="/images/profilepicture.jpg" alt="a photo I use everywhere" class="sm:w-3/4:h-3/4 lg:w-3/4:h-3/4 xl:w-3/5:h-3/5 rounded-full m-2"/>
            </div>
            <div class="flex flex-row justify-center items-center">
                <h1 class="text-white clashDisplay text-sm xl:text-xl">Full-stack Engineer</h1>
            </div>
        </div>
    </div>
    <span class="border w-4/5 sm:w-4/5 md:w-4/5 lg:w-3/4 xl:w-2/3 mt-10"></span>
    <h1 class="text-darkGray clashDisplay font-medium text-sm text-center p-5">© Arslan {(new Date).getFullYear()}, All rights reserved.</h1>
</section>
