<!-- <section>
    <style>
        .monumentRegular{
            font-family: "Monument Regualar";
        }
        .monumentBold{
            font-family: "Monument Bold";
        }
        .clashDisplay{
            font-family:"Clash Display";
        }
        .smallAndBelowOtherText{}

        @media (max-width: 640px) {
        .smallAndBelowHeading {
            flex-direction: column;
            margin-top: 10px;
            text-align: center;
            font-size: 3.2rem;
            margin: 10px;
            width: 100%;
        }
        .smallAndBelowOtherText {
            font-size: 1.6rem;
            margin:20px;
            width: 80%;
        }
        }
    </style>
    <div class="flex flex-col items-center text-white">
        <h1 class="text-pinkishRed clashDisplay text-7xl px-16 font-medium smallAndBelowHeading pt-5">About <span class="text-white">Me</span></h1>
        <div class="w-4/5 text-5xl smallAndBelowOtherText"><h1 class="text-white clashDisplay">I’m 17 and have been in tech for the past <span class="text-pinkishRed">three years</span></h1></div>
        <div class="w-4/5 text-5xl smallAndBelowOtherText"><h1 class="text-white clashDisplay">Over the past three years, I have <span class="text-pinkishRed">experienced and explored</span> a diverse set of technologies</h1></div>
        <div class="w-4/5 text-5xl smallAndBelowOtherText"><h1 class="text-white clashDisplay">I have the capability to <span class="text-pinkishRed">develop and deliver</span> fully functional web applications.</h1></div>
    </div>
    <div class="flex justify-center">
        <div class="w-4/5 border px-40 smallAndBelowOtherText"></div>
    </div>
</section> -->